### Reshaping and Transporting

In [1]:
import numpy as np
a1=np.array([[2,3,4],
             [3,4,5]])
a1

array([[2, 3, 4],
       [3, 4, 5]])

In [2]:
a2=np.array([[[2,3,4],
             [4,5,6],
             [4,5,6]],
            [[3,4,5],
            [3,4,5],
            [4,5,6]]])
a2

array([[[2, 3, 4],
        [4, 5, 6],
        [4, 5, 6]],

       [[3, 4, 5],
        [3, 4, 5],
        [4, 5, 6]]])

In [4]:
np.multiply(a1,a2)

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [9]:
a1

array([[2, 3, 4],
       [3, 4, 5]])

In [5]:
# Reshape numpy will help us out

In [11]:
a1_reshape=a1.reshape(2,3,1)
a1_reshape

array([[[2],
        [3],
        [4]],

       [[3],
        [4],
        [5]]])

In [14]:
np.multiply(a1_reshape,a2)      # Reshape has made possible to multiply a1 and a2 which was earlier not possible becausse they were incomparrable

array([[[ 4,  6,  8],
        [12, 15, 18],
        [16, 20, 24]],

       [[ 9, 12, 15],
        [12, 16, 20],
        [20, 25, 30]]])

In [16]:
# Transpose = switches the axis's
a1

array([[2, 3, 4],
       [3, 4, 5]])

In [17]:
a1.transpose()

array([[2, 3],
       [3, 4],
       [4, 5]])

In [18]:
a2.transpose()

array([[[2, 3],
        [4, 3],
        [4, 4]],

       [[3, 4],
        [5, 4],
        [5, 5]],

       [[4, 5],
        [6, 5],
        [6, 6]]])

#### Dot Product

In [19]:
np.random.seed(0)
mat1= np.random.randint(9,size=(3,3))
mat2= np.random.randint(9,size=(3,3))
mat1, mat2

(array([[5, 0, 3],
        [3, 7, 3],
        [5, 2, 4]]),
 array([[7, 6, 8],
        [8, 1, 6],
        [7, 7, 8]]))

In [22]:
# Element-wise multiplication (Hadamard product-element to element deal)
np.multiply(mat1,mat2)

array([[35,  0, 24],
       [24,  7, 18],
       [35, 14, 32]])

In [23]:
# Dot Product (matrix multiplication)
np.dot(mat1,mat2)

array([[56, 51, 64],
       [98, 46, 90],
       [79, 60, 84]])

In [26]:
mat1_t=np.transpose(mat1)
mat1_t

array([[5, 3, 5],
       [0, 7, 2],
       [3, 3, 4]])

In [27]:
mat3=np.dot(mat1_t,mat2)

In [28]:
mat3

array([[94, 68, 98],
       [70, 21, 58],
       [73, 49, 74]])

In [29]:
# without importing dataset now we'll create df with the help of pandas and numpy

#### Dot Product Example (nut butter sales)

In [31]:
np. random.seed(0)
sales_amounts=np.random.randint(20,size=(5,3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [38]:
import pandas as pd
weekly_sales=pd.DataFrame(sales_amounts,index=["mon","Tues","we","thur","Fri"],columns=["almond butter", "peanut butter", "cashew butter"])
weekly_sales

      almond butter  peanut butter  cashew butter
mon              12             15              0
Tues              3              3              7
we                9             19             18
thur              4              6             12
Fri               1              6              7

In [39]:
prices=np.array([3,4,5])
prices

array([3, 4, 5])

In [40]:
prices.shape

(3,)

In [41]:
butter_prices=pd.DataFrame(prices. reshape(1,3),index=["Price"],columns=["almond butter", "peanut butter", "cashew butter"])
butter_prices

       almond butter  peanut butter  cashew butter
Price              3              4              5

In [49]:
prices.shape

(3,)

In [44]:
sales_amounts.shape

(5, 3)

In [51]:
sales_amounts.transpose()

array([[12,  3,  9,  4,  1],
       [15,  3, 19,  6,  6],
       [ 0,  7, 18, 12,  7]])

In [53]:
total_sales=np.dot(butter_prices,sales_amounts.transpose())
total_sales

array([[ 96,  56, 193,  96,  62]])

In [55]:
total_sales.transpose()

array([[ 96],
       [ 56],
       [193],
       [ 96],
       [ 62]])

In [56]:
weekly_sales["Total ($)"]=total_sales.transpose()
weekly_sales

      almond butter  peanut butter  cashew butter  Total ($)
mon              12             15              0         96
Tues              3              3              7         56
we                9             19             18        193
thur              4              6             12         96
Fri               1              6              7         62